{%extends 'base.html' %}

{% block main %}

{% for course in courses %}
    <div class="d-flex flex-row-reverse">
            <a href="{% url 'update_course' course.pk %}">
                <i class="fas fa-pencil" style="color:white;"></i>
            </a>
    </div>
    <div class="card mt-4 mb-4">
        <div class="card-body text-center">
                <h5 class="card-title">{{ course.name }}</h5>
                <p class="card-text">{{ course.description }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">{{ course.updated_at|date:"D d F Y" }}</small>
        </div>
    </div>
    {% endfor %}

  {% for student in students %}
    <div class="card text-center mt-4 mb-4">
      <div class="card-header">{{ student.course }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ student.name }}</h5>
        <a href="#" class="card-text">{{ student.email }}</a>
      </div>
      <div class="card-footer text-muted">{{ student.enrolled_at|date:"D d F Y" }}</div>
    </div>
  {% endfor %}

{% endblock main %}

